.SocialMedia {
  font-size: medium;
  margin: 0 auto;
  font-size: small;
  color: rgba(39, 33, 66, 0.7);
  text-align: center;
  margin: 20px;
}


.SocialMedia .social-media-link {
  color: rgba(39, 33, 66, 0.7);
  text-decoration: none;
}

.SocialMedia li {
  display: inline-block;
  padding: 8px;
}

.SocialMedia .social-media-link:hover {
  text-decoration: underline;
  color: #482c6b;
}
