
.WeatherData h4{
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(39, 33, 66, 0.9);
  text-align: left;
  margin-top: 15px;
}


.WeatherData .Current {
  font-weight: 900;
  color:  rgba(39, 33, 66, 0.7);
  font-size: 40px;
}

.WeatherData .Conditions li {
  display: inline-block;
  margin: 15px;
  color: rgba(39, 33, 66, 0.7);
  
}

.WeatherData .Conditions ul {
  text-align: center;
}

.WeatherData col-6 {
    padding: 0px 0px;
}

.WeatherData footer {
    bottom: -20px;
}

.WeatherDataCol {
    text-align: right;
}

.WeatherData {
    height: 150px;
    
}

.WeatherDataCol {
    height: 80px;
    
}
